<section data-ng-controller="InsrcarrierrevenueController" data-ng-init="find()">
	<div class="page-header">
        <h1>Insurance Carriers Revenue Dashboard</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="carrier in insrcarrierrevenue" data-ng-href="#!/insrcarrierrevenue/{{carrier._id}}" class="list-group-item">
            <h4 class="list-group-item-heading" data-ng-bind="carrier.program"></h4>            
            <span data-ng-bind="carrier.displayRevenue"></span>
            <span data-ng-bind="carrier.year"></span>
            <span data-ng-bind="carrier.month"></span>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!insrcarrier.$resolved || insrcarrier.length">
        No Insurance Carriers yet, why don't you <a href="/#!/insrcarrierrevenue/create">create one</a>?
    </div>

    <nvd3-pie-chart
        data="RevenueDataForPieChart"
        width="500"
        height="500"        
        x="xFunction()"
        y="yFunction()"
        showLabels="true"
        pieLabelsOutside="false"      
        showValues="true"  
        labelType="percent"
        labelThreshold=".05"
        tooltips="true"
        useInteractiveGuideline="true"
        tooltipContent="toolTipContentFunction()">
            <svg></svg>
    </nvd3-pie-chart>

</section>