<section data-ng-controller="InsrcarrierController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Insurance Carrier</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="carrier.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Description</label>
                    <div class="controls">
                    	<input type="text" data-ng-model="carrier.description" id="description" class="form-control" placeholder="Description" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Company</label>
                    <div class="controls">
                    	<select name="CompanySelect" data-ng-model="carrier.company" id="company" class="form-control" placeholder="Company" required>
					      <option value="Affinity">Affinity</option>
					      <option value="AUM">AUM</option>
    					</select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Commission</label>
                    <div class="controls">
                    	<input type="text" data-ng-model="carrier.commission" id="commission" class="form-control" placeholder="Commission" required>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>